/* CSS Document */
#TOPDIV
{
position:relative;
height:180px;
width:100%;
background-color:#000000;
}
#MAINMENU
{
position:relative;
background-color:#FFFFFF;
height:1092px;
width:1062px;
top:-35px;
}
#HEADING
{
top:15px;
position:relative;
background-color:#666666;
height:317px;
width:1032px;
background-image:url(images/header.jpg);
}
#TITLE
{
position:relative;
background-color:#FFFF00;
height:83px;
width:1032px;
background-image:url(images/menu_bg.jpg);
}
#TITLE1
{
position:relative;
height:83px;
width:206px;
}
#MENU
{
position:relative;
background-color:#FFFFFF;
height:15px;
width:1032px;
}
#CONTENT
{
position:relative;
background-color:#FFFFFF;
height:214px;
width:1032px;
}
#CONTENT1
{
position:relative;
height:214px;
width:300px;
background-color:#999999;
background-image:url(images/bg_col_top.jpg);
}
#CONTENT1A
{
position:relative;
height:37px;
width:300px;
background-color:#00FF99;


}
#CONTENT1B
{
position:relative;
height:120px;
width:300px;


background-color:#000099;
}
#POSITION
{
position:relative;
background-color:#FFFFFF;
height:214px;
width:20px;
}
#BOX
{
position:relative;
background-color:#006633;
height:103px;
width:1032px;
background-image:url(images/last_box.jpg);
}
#FOOTER
{
position:relative;
background-color:#663333;
height:300px;
width:1032px;
}